@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap);
:root {
  --headerHight: 5.625rem;
  --headerHightMobile: 3.875rem;
  --fontFamilyIconsFont: "IconsFonts";
  --name1: #656565;
  --bgHeaderBurgerMenu: #F2F2F2;
  --fnEmail: #2C2C2C;
  --fhContentBurger: #111827;
  --bgBorder: #ABABAB;
  --bgButton: #08C892;
  --bgBurgerFon: #bdffec;
  --fnColorNormal: #FFFFFF;
  --name9: #E8E8E8;
  --name12: #656565;
  --bgHoverBtnLink: #00C68E;
  --bgHoverText: #000000;
  --bgHoverSubMenu: #DDDDDD;
  --bgHoverItemSubMenu: #f5f5f5;
  --name18: #FF787B;
  --bgBorderCard: #D9D9D9;
  --fnSubText: #343131
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #6c6c6c;
  line-height: 1;
  font-family: Roboto;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
textarea {
  resize: vertical
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: inherit;
  font-size: inherit
}
address,
em,
i {
  font-style: normal
}
img {
  vertical-align: top
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 88.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,86.25rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
  padding: 0 .9375rem;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 10px;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0 5px 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header--setup:not(:last-child) {
  margin-bottom: clamp(4rem,3.868rem + .66vw,4.438rem)
}
.menu--option:not(:last-child) {
  margin-bottom: .5rem
}
.menu {
  background: var(--fnColorNormal);
  border-bottom: .03125rem solid var(--bgBorder)
}
.menu__container {
  display: flex;
  align-items: center;
  padding-top: .625rem;
  padding-bottom: .625rem;
  -webkit-column-gap: clamp(2.5rem,-3.093rem + 9.02vw,4.688rem);
  -moz-column-gap: clamp(2.5rem,-3.093rem + 9.02vw,4.688rem);
  column-gap: clamp(2.5rem,-3.093rem + 9.02vw,4.688rem)
}
.menu__container:not(:last-child) {
  margin-bottom: .625rem
}
.menu__inner-logo {
  width: 9.375rem;
  height: 2rem;
  z-index: 5
}
.menu__body {
  flex-grow: 1
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .075rem
}
.menu__item {
  transition: all .25s ease-in;
  position: relative
}
.menu__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: .125rem;
  background-color: var(--bgHoverBtnLink);
  transition: width .45s ease-in-out
}
.menu__element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 1.5625rem
}
.item-menu__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 1.5625rem
}
.item-menu__column-pos {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: .5rem
}
.item-menu__mail-link {
  color: var(--fnEmail);
  font-weight: 500;
  line-height: 1.2
}
.item-menu__submit-ad {
  white-space: nowrap;
  color: var(--fnColorNormal);
  line-height: 1.2;
  font-weight: 500;
  border-radius: .875rem;
  background: var(--bgButton);
  padding: .5rem .75rem
}
.balance__inner {
  color: var(--bgHoverText);
  font-size: .75rem;
  line-height: 1.2
}
.user-link__content {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.user-link__body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: .4375rem;
  -moz-column-gap: .4375rem;
  column-gap: .4375rem;
  position: relative;
  z-index: -1
}
.user-link__list-item {
  white-space: nowrap;
  font-weight: 300;
  line-height: 1.2;
  padding: .5625rem .625rem;
  border-radius: .875rem;
  background: rgba(0,0,0,0);
  transition: all .25s ease-in;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .25rem;
  -moz-column-gap: .25rem;
  column-gap: .25rem
}
.user-link__list-item::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem
}
.user-link__list-item::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem
}
.user-link__list-item:nth-child(1)::before {
  background: url(../img/icons/user.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(1)::after {
  background: url(../img/icons/arrow_big.svg) center/1.5rem .75rem no-repeat;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.user-link__list-item:nth-child(2)::before {
  background: url(../img/icons/sms.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(3)::before {
  background: url(../img/icons/favorites.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(4)::before {
  background: url(../img/icons/payments.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(5)::before {
  background: url(../img/icons/statistics.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(6)::before {
  background: url(../img/icons/briefcase.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(7)::before {
  background: url(../img/icons/integration.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(8)::before {
  background: url(../img/icons/autor.svg) center/1rem no-repeat
}
.user-link__list-item:nth-child(9)::before {
  background: url(../img/icons/comunity.svg) center/1rem no-repeat
}
.page--setup {
  padding-bottom: clamp(2.75rem,.958rem + 8.96vw,8.688rem)
}
.group-buttons--setup:not(:last-child) {
  margin-bottom: clamp(3.188rem,2.621rem + 2.83vw,5.063rem)
}
.group-buttons__box {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: clamp(.75rem,.373rem + 1.89vw,2rem);
  -moz-column-gap: clamp(.75rem,.373rem + 1.89vw,2rem);
  column-gap: clamp(.75rem,.373rem + 1.89vw,2rem)
}
.link-page-jump__create {
  max-width: clamp(9.875rem,9.064rem + 4.06vw,12.563rem);
  width: 100%;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  color: var(--fnColorNormal);
  font-size: clamp(.938rem,.919rem + .09vw,1rem);
  border-radius: .875rem;
  background: var(--bgButton);
  padding: .8125rem .75rem
}
.articles__title-page {
  text-align: center;
  color: var(--fnEmail);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2
}
.articles__title-page:not(:last-child) {
  margin-bottom: clamp(3.188rem,2.961rem + 1.13vw,3.938rem)
}
.carcase {
  z-index: 2
}
.carcase__inner-boxing {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr));
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 1.875rem
}
.carcase__inner-boxing:not(:last-child) {
  margin-bottom: .9375rem
}
.carcase__management-items {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 2.3125rem;
  -moz-column-gap: 2.3125rem;
  column-gap: 2.3125rem
}
.card__sell {
  border: .0625rem solid var(--bgBorderCard);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-bottom: .9375rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.625rem;
  text-align: center;
  position: relative
}
.article-data__unit {
  position: relative
}
.article-data__photo-box {
  overflow: hidden;
  aspect-ratio: 304/196;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem
}
.article-data__pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
.article-data__indicator-views {
  position: absolute;
  right: .8125rem;
  top: .5625rem;
  text-align: right;
  color: var(--fnEmail);
  line-height: 1.2;
  padding: .3125rem .875rem;
  display: inline-block;
  border-radius: 1.0625rem;
  background: var(--fnColorNormal);
  box-shadow: 0 -.125rem .25rem 0 rgba(0,0,0,.2) inset
}
.article-data__par {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .6875rem
}
.article-data__comment {
  position: absolute;
  top: 50%;
  padding: .9375rem 1.5rem;
  background-color: var(--fnColorNormal);
  border-top-left-radius: .625rem;
  border-top-right-radius: .625rem;
  border-bottom-right-radius: .625rem;
  -webkit-filter: drop-shadow(0 0 8.8px rgba(8, 200, 146, .87));
  filter: drop-shadow(0 0 8.8px rgba(8, 200, 146, .87))
}
.article-data__comment::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: .9375rem;
  height: 1.0625rem;
  background: url(../img/test/tail.svg) 0 0/.9375rem 1.0625rem no-repeat
}
.article-data__text-comment {
  color: var(--fnSubText);
  font-weight: 300;
  line-height: 1.2
}
.article-data__caption {
  color: var(--fnEmail);
  font-size: 18px;
  line-height: 1.2;
  flex-grow: 1
}
.article-data__wrap-button {
  color: var(--fnColorNormal);
  border-radius: .875rem;
  background: var(--bgButton)
}
.article-data__edit-btn {
  padding: .5rem 2.875rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .3125rem;
  -moz-column-gap: .3125rem;
  column-gap: .3125rem;
  text-align: center
}
.article-data__edit-btn::before {
  width: .875rem;
  height: .875rem;
  content: "";
  background: url(../img/icons/pen.svg) 0 0/.875rem no-repeat
}
.article-data__card-moderation {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .3125rem;
  -moz-column-gap: .3125rem;
  column-gap: .3125rem
}
.article-data__marker-icon {
  width: 1.0625rem;
  height: 1.0625rem
}
.article-data__modernation {
  color: var(--fnSubText);
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.5
}
.management__btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bgButton);
  border-radius: 50%
}
.management__item-jump {
  width: .75rem;
  height: 1rem;
  fill: var(--fnColorNormal);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}
.management__item-jump--next {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
@media (max-width:68.125em) {
  .menu__body {
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 10.625rem .9375rem .9375rem .9375rem;
    transition: left .3s;
    background: var(--bgBurgerFon);
    z-index: 4;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.25rem
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: var(--headerHightMobile);
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 6;
    background: var(--bgHeaderBurgerMenu)
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .1875rem;
    border-radius: .5rem;
    background-color: var(--fnEmail)
  }
  .icon-menu::after {
    content: "";
    width: 60%
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(44% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(48% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%
  }
  .menu__inner-logo {
    flex-grow: 1
  }
  .menu__list {
    flex-direction: column;
    color: var(--fhContentBurger)
  }
}
@media (max-width:68.125em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:48.25em) {
  .menu__element {
    flex-direction: column
  }
  .item-menu__data {
    flex-direction: column
  }
}
@media (any-hover:hover) {
  .select__option:hover {
    background: #d9d9d9
  }
  .menu__item {
    cursor: pointer
  }
  .menu__item:hover::after {
    width: 100%
  }
  .menu__item:hover {
    color: var(--bgHoverText)
  }
  .user-link__list-item {
    cursor: pointer
  }
  .user-link__list-item:hover {
    background: var(--bgHoverItemSubMenu)
  }
}